@tailwind base;
@tailwind components;
.btn-primary-BDX {
  @apply inline-block bg-primary-BDX px-3 py-1 m-auto text-xs rounded-md uppercase text-white shadow-lg tracking-wider font-semibold;
}

.btn-primary-BDX:hover {
  @apply bg-orange-900;
}
.btn-primary-BDX:focus {
  @apply shadow-outline;
}
.btn-primary-BDX:active {
  @apply bg-orange-800;
}
.header {
  height: 300px;
}
.hero {
  z-index: -10;
}

.gallery {
  height: 300px;
}

.btn-primary {
  @apply bg-transparent uppercase border border-orange-600 px-10 py-3 inline-block mr-4 text-orange-600;
}

.btn-primary:hover {
  @apply bg-orange-600 text-white cursor-pointer;
}


@screen md {
  .btn-primary-BDX {
    @apply text-lg;
  }

  .gallery {
    height: 800px;
  }
  .header {
    height: 800px;
  }
}

@tailwind utilities;
